/* 
* @Author: Administrator
* @Date:   2019-06-13 14:29:53
* @Last Modified by:   Administrator
* @Last Modified time: 2019-06-15 10:34:56
*/
p{
	font-size: 0.225rem;
	line-height: 0.75rem;
}
.art{	
	height: 416px;
	background-color: #fff;
	border-radius: 0.25rem;
	padding-top: 0.55rem;
	box-sizing: border-box;
}
.art_in{
	width: 13.675rem;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.art_in p{
	width: 100%;
}
.foot{
	margin-top: 2.2rem;
	margin-left: 11.075rem;
}
.foot_1,.foot_3,.foot_s2{
	display: inline-block;
}
.foot_1,.foot_3{
	width: 0.925rem;
	height: 0.925rem;
	position: relative;
}
body .foot .foot_s2{
	width: 0.925rem;
	height: 0.925rem;
}
.foot_s1,.foot_s11{
	position: absolute;
	left: 0;
	top: 0;
}
.foot_s11,.foot_s33{
	display: none;
}
.foot_1 img,.foot_s2 img,.foot_3 img{
	width: 100%;
	height: 100%;
}
.mix{
	display: none;
	position: absolute;
	left: 0.25rem;
	top: -0.475rem;
	font-size: 0.3rem;
	color: #BFBFBF;
}
.zf{
	position: fixed;
}


