/* 
* @Author: Administrator
* @Date:   2019-06-12 15:41:46
* @Last Modified by:   Administrator
* @Last Modified time: 2019-06-12 17:28:55
*/

/*.remen*/
.remen{
	height: 8.3rem;

}
.remen_t{
	height: 2.075rem;
	line-height: 2.075rem;
	font-size: 0.725rem;
	font-weight: bold;
}
.remen_b{
	height: 6.25rem;
}
.remen_b ul{
	height: 50%;
	overflow: hidden;
	margin-left: 0;
}
.remen_b ul li{
	float: left;
	width: 3.125rem;
	margin-right: 0.5rem;
}
.remen_b ul li:last-child{
	margin-right: 0;
}
.remen_b ul li img{
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 0.675rem;
	margin-bottom: 0.35rem;
}
.remen_b ul li span{
	font-size: 0.5rem;
	display: block;
	text-align: center;
}
/*content*/

.content h2{
	font-size: 0.725rem;
}
.content dl{
	height: 8rem;
}
dl dd{
	list-style: none;
	margin: 0;
	width: 100%;
	line-height: 1.0rem;
	font-size: 0.475rem;
}
dl dd div{
	display: inline;
}
.content img{
	width: 13.625rem;
	height: 6.55rem;
	margin-top: 1.0rem;
	margin-left: 0.45rem;
}
/*content1*/
.content1 h2{
	height: 3.25rem;
	line-height: 3.25rem;
	font-size: 0.725rem;
}
.content1 img{
	height: 44.575rem;
}