/* 
* @Author: Administrator
* @Date:   2019-06-12 15:41:46
* @Last Modified by:   Administrator
* @Last Modified time: 2019-06-14 11:25:30
*/

/*.remen*/
.remen{
	height: 8.3rem;

}
.remen_t{
	height: 2.075rem;
	line-height: 2.075rem;
	font-size: 0.725rem;
	font-weight: bold;
}
.remen_b{
	height: 6.425rem;
	background-color: #fff;
	border-radius: 0.25rem;
	padding-left: 0.45rem;
	padding-top: 0.425rem;
	box-sizing: border-box;
}
.remen_b ul{
	height: 50%;
	overflow: hidden;
	margin-left: 0;
}
.remen_b ul li{
	float: left;
	width: 3.125rem;
	margin-right: 0.5rem;
}
.remen_b ul li:last-child{
	margin-right: 0;
}
.remen_b ul li img{
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 0.675rem;
	margin-bottom: 0.35rem;
}
.remen_b ul li span{
	font-size: 0.5rem;
	display: block;
	text-align: center;
}
/*content*/
.content{
	height: 14.025rem;
}
.content h2{
	font-size: 0.725rem;
	height: 2.8rem;
	line-height: 2.8rem;
}
.content dl{
	height: 11.225rem;
	background-color: #fff;
	border-radius: 0.25rem;
	padding-left: 0.45rem;
	padding-top: 0.75rem;
	list-style: none;
	margin: 0;
	box-sizing: border-box;
}
dl dd{
	list-style: none;
	margin: 0;
	width: 100%;
	line-height: 1.0rem;
	font-size: 0.5rem;
	color: #4E4E4E;
}
dl dd div{
	display: inline;
}
.content2{
	height: 10.3rem;
}
.content2 .img{
	height: 7.55rem;
	background-color: #fff;
	border-radius: 0.25rem;
}
.content2 img{
	width: 13.625rem;
	height: 6.55rem;
	margin-top: 0.45rem;
	margin-left: 0.45rem;
}
.content2 h2{
	height: 2.75rem;
	line-height: 2.75rem;
}
/*content1*/
.content1 h2{
	height: 3.25rem;
	line-height: 3.25rem;
	font-size: 0.725rem;
}
.content1 img{
	height: 44.575rem;
}