/* 
* @Author: Administrator
* @Date:   2019-03-05 13:22:10
* @Last Modified by:   Administrator
* @Last Modified time: 2019-06-12 10:16:43
*/
/*.box>div直接相邻*/
@charset "utf-8";
body,ul,ol,h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
ul,ol{list-style: none;}
img{border: none; vertical-align: top;}
a{text-decoration: none;}
strong{font-weight:normal;}/*清除加粗*/	
em{font-style: normal;}/*清除斜体*/
input{border:none;outline:none;}/*清除 聚焦*/
textarea{resize: none;border:none;}/*清除右下角小尾巴*/


.clearfix:after,.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}
.clearfix{*zoom:1;}
body{
	width: 16.0rem
}
.gWidth{
	/*width: 36.5rem;*/
	width: 14.625rem;
	margin-left: auto;
	margin-right: auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}


	


		/*重置样式表  清除默认样式*/

