/* 
* @Author: Administrator
* @Date:   2019-03-05 13:22:10
* @Last Modified by:   Administrator
* @Last Modified time: 2019-06-15 14:03:30
*/
/*.box>div直接相邻*/
@charset "utf-8";
body,ul,ol,h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
ul,ol{list-style: none;}
img{border: none; vertical-align: top;}
a{text-decoration: none;}
strong{font-weight:normal;}/*清除加粗*/	
em{font-style: normal;}/*清除斜体*/
input{border:none;outline:none;}/*清除 聚焦*/
textarea{resize: none;border:none;}/*清除右下角小尾巴*/
.clearfix:after,.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}
.clearfix{*zoom:1;}
body{
	width: 16.0rem
}
.gWidth{
	width: 14.625rem;
	margin-left: auto;
	margin-right: auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.banner1{
	width: 14.625rem;
	height: 6.375rem;
}
.banner1 img{
	width: 100%;
	height: 100%;
}
.head_in{
	height: 1.825rem;
}
.head_in a{
	font-size: 0.575rem;
	font-weight: 700;
	color: #666666;
}
.head_in a:nth-child(1){
	font-size:  0.875rem;
}
body{
	background-color:#FAFAFA;
}
/*content*/
.con{
	height: 2.825rem;
	width: 16.0rem;
	border-bottom: 1px solid #C9C9C9;
}
.content{
	margin-top: 0.875rem;
	height: 2.825rem;
}
.content ul li{
	float: left;
	width: 2.8rem;
	height: 3.075rem;
	margin-right: 1.1rem;	
}
.content ul li:nth-child(4){
	margin-right: 0;
}
.content ul li a:nth-child(2){
	font-size: 0.575rem;
	color: #1A519C;
	font-weight: 700;
	display: inline-block;
	margin-top: 0.425rem;
}

.content ul li a:nth-child(1) img{
	width: 0.9rem;
	height: 0.85rem;
	margin-left: 0.65rem;
}
h2{
	font-size: 0.725rem;
}