/* 
* @Author: Administrator
* @Date:   2019-06-13 10:52:09
* @Last Modified by:   Administrator
* @Last Modified time: 2019-06-17 09:28:13
*/
.fo{
	/*width: 14.75rem;*/
	height: 16.65rem;
}
.fo img{
	width: 100%;
	height: 100%;
}
.fo_t{
	height: 3.375rem;
	line-height: 3.375rem;
}