/* 
* @Author: Administrator
* @Date:   2019-06-13 15:26:37
* @Last Modified by:   Administrator
* @Last Modified time: 2019-06-15 14:03:43
*/
.xue_t{
	height: 2.4rem;
	line-height: 2.4rem;
}
body .xue_b{
	background-color: #FFFFFF;
	border-radius: 0.25rem;
	width: 14.7rem;
	height: 10.4rem;
}
.xue_b p{
	font-size: 0.475rem;
	line-height: 0.75rem;
	color: #838383;
}
.zhao_t{
	height: 2.75rem;
	line-height: 2.75rem;
}
.zhao_b{
	height: 325px;
	background-color: #FFFFFF;
	border-radius: 0.25rem;
	padding-top: 0.275rem;
	padding-left: 0.2rem;
	box-sizing:border-box;	
}
.zhao_b_in{
	border: 1px solid #EDEDED;
	border-bottom: none;
	width: 13.7rem;
	height: 6.775rem;
	font-size: 0;
	color: #535353;	
}
.zhao_b_in div:nth-child(1){
	height: 1.3rem;
}
.zhao_b_in div:nth-child(1) span{
	height: 1.3rem;
	line-height: 1.3rem;
}
.zhao_b_in>div>span:nth-child(1){
	width: 2.025rem;
}
.zhao_b_in span:nth-child(2){
	width: 7.6rem;
}
.zhao_b_in span:nth-child(3){
	width: 1.85rem;
}
.zhao_b_in span{
	display: inline-block;
	line-height: 1.725rem;
	text-align: center;
	font-size: 0.55rem;
	border-right: 0.025rem solid #EDEDED;	
}
.zhao_b_in div{
	border-bottom: 0.025rem solid #EDEDED;
	height: 1.725rem;
}
.zhao_b_in div:first{
	height: 1.3rem;
	line-height: 1.3rem;
}
.zhao_b_in div:first span{
	height: 1.3rem;
	line-height: 1.3rem;
}
.zhao_b_in span:nth-child(4){
	width: 2rem;
	border-right: 0;
}